@using Microsoft.AspNetCore.Identity
@using BlazorEFIdentity.Data

@inject SignInManager<ApplicationUser> SignInManager

<div class="d-flex flex-column mb-3">
    <div class="nav-item" >
        <NavLink class="nav-link rounded-pill p-3 mb-2 shadow-sm transition-all hover-effect" style="border: 2px solid #6c757d" href="Account/Manage" Match="NavLinkMatch.All">
            Profile
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link rounded-pill p-3 mb-2 shadow-sm transition-all hover-effect" style="border: 2px solid #6c757d" href="Account/Manage/Email">
            Email
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link rounded-pill p-3 mb-2 shadow-sm transition-all hover-effect" style="border: 2px solid #6c757d" href="Account/Manage/ChangePassword">
            Password
        </NavLink>
    </div>
    @if (hasExternalLogins)
    {
        <div class="nav-item">
            <NavLink class="nav-link rounded-pill p-3 mb-2 shadow-sm transition-all hover-effect" style="border: 2px solid #6c757d" href="Account/Manage/ExternalLogins">
                External logins
            </NavLink>
        </div>
    }
    <div class="nav-item">
        <NavLink class="nav-link rounded-pill p-3 mb-2 shadow-sm transition-all hover-effect" style="border: 2px solid #6c757d" href="Account/Manage/TwoFactorAuthentication">
            Two-factor authentication
        </NavLink>
    </div>
    <div class="nav-item">
        <NavLink class="nav-link rounded-pill p-3 mb-2 shadow-sm transition-all hover-effect" style="border: 2px solid #6c757d" href="Account/Manage/PersonalData">
            Personal data
        </NavLink>
    </div>
</div>

@code {
    private bool hasExternalLogins;

    protected override async Task OnInitializedAsync()
    {
        hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
    }
}
