@page "/auth"
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Authorization
@using BlazorEFIdentity.Data
@inject UserManager<ApplicationUser> userManager
@inject AuthenticationStateProvider AuthenticationStateProvider

@attribute [Authorize]

<PageTitle>Auth</PageTitle>

<h1>You are authenticated</h1>

<AuthorizeView>
    <p>Hello @user?.UserName!</p>
</AuthorizeView>

<AuthorizeView Roles="Admin">
    <p>Hello @user?.UserName! You can only view this because you're an Admin.</p>
</AuthorizeView>

<AuthorizeView Roles="User">
    <p>Hello @user?.UserName! You can only view this because you're a User.</p>
</AuthorizeView>

@code {
    private ApplicationUser user;

    protected override async Task OnInitializedAsync() {
        var authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        user = await userManager.GetUserAsync(authState.User);
    }
}
